$bg-marron-foncer:#362303;
$bg-marron-claire:#6e440d;
$bg-gris-claire:#9ea09cef;
$bg-gris-claire_opacity:rgba(158, 155, 155, 0.2);
$bg-gris-foncer:rgba(102, 99, 99, 0.979);
$color-claire:white;
$color-black:black;

$smoll-up: "only screen and (max-width: 576px)";
$medium-up: "only screen and (max-width: 768px)";
$large-up: "only screen and (max-width: 1200px)";
